<section [style.cursor]="cursorStyle">
  <div class="upvote-comment">
    <button
      class="upvote"
      [ngClass]="{ upvoted: isUpvoted }"
      (click)="upvote($event)"
    >
      <img *ngIf="!isUpvoted" src="../../assets/blue-arrow-up.svg" alt="" />
      <img *ngIf="isUpvoted" src="../../assets/arrow-up.svg" alt="" />

      {{ feedback.upvotes }}
    </button>

    <div class="comment-box-mobile">
      <button class="comment">
        <img src="../../assets/comment.svg" alt="" />
      </button>
      <p>{{ feedback.commentCount }}</p>
    </div>
  </div>

  <div class="details">
    <h3 class="truncated-text">{{ feedback.title }}</h3>
    <p class="truncated-text">{{ feedback.description }}</p>

    <span class="tag">
      {{
        feedback.category.length === 2
          ? feedback.category.toUpperCase()
          : feedback.category.charAt(0).toUpperCase() +
            feedback.category.slice(1)
      }}
    </span>
  </div>
  <div class="comment-box">
    <button class="comment">
      <img src="../../assets/comment.svg" alt="" />
    </button>
    <p>{{ feedback.commentCount }}</p>
  </div>
</section>
