<section *ngIf="!(loading | async) && !error">
  <div class="header">
    <div>
      <button (click)="goBackToPrevPage()">
        <img src="../../assets/arrow-left-light.svg" alt="" /> &nbsp; Go Back
      </button>

      <h2>Roadmap</h2>
    </div>

    <button routerLink="/add-feedback" class="add-feedback">
      + Add Feedback
    </button>
  </div>

  <div class="content" cdkDropListGroup>
    <div class="column">
      <h3>Planned ({{ planned.length }})</h3>
      <p>Ideas prioritized for research</p>
      <div
        cdkDropList
        [cdkDropListData]="planned"
        (cdkDropListDropped)="drop($event)"
        id="planned"
        class="item-list"
      >
        <div class="item-box planned" *ngFor="let item of planned" cdkDrag>
          <div>
            <p><span></span> {{ item.status }}</p>
            <h3 class="truncated-text">{{ item.title }}</h3>
            <p class="truncated-text">{{ item.description }}</p>

            <p class="category">
              {{
                item.category.length === 2
                  ? item.category.toUpperCase()
                  : item.category.charAt(0).toUpperCase() +
                    item.category.slice(1)
              }}
            </p>

            <div class="buttons">
              <button
                class="upvote"
                [ngClass]="{ upvoted: item.upvotedBy.includes(user.user.id) }"
                (click)="upvote(item)"
              >
                <img
                  *ngIf="!item.upvotedBy.includes(user.user.id)"
                  src="../../assets/blue-arrow-up.svg"
                  alt=""
                />
                <img
                  *ngIf="item.upvotedBy.includes(user.user.id)"
                  src="../../assets/arrow-up.svg"
                  alt=""
                />
                {{ item.upvotes }}
              </button>
              <div class="comments">
                <img src="../../assets/comment.svg" alt="" />
                
                {{ item.commentCount }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <h3>In-Progress ({{ inProgress.length }})</h3>
      <p>Currently being developed</p>

      <div
        cdkDropList
        [cdkDropListData]="inProgress"
        (cdkDropListDropped)="drop($event)"
        id="in-progress"
        class="item-list"
      >
        <div
          class="item-box in-progress"
          *ngFor="let item of inProgress"
          cdkDrag
        >
          <div>
            <p><span></span> {{ item.status }}</p>
            <h3 class="truncated-text">{{ item.title }}</h3>
            <p class="truncated-text">{{ item.description }}</p>

            <p class="category">
              {{
                item.category.length === 2
                  ? item.category.toUpperCase()
                  : item.category.charAt(0).toUpperCase() +
                    item.category.slice(1)
              }}
            </p>

            <div class="buttons">
              <button
                class="upvote"
                [ngClass]="{ upvoted: item.upvotedBy.includes(user.user.id) }"
                (click)="upvote(item)"
              >
                <img
                  *ngIf="!item.upvotedBy.includes(user.user.id)"
                  src="../../assets/blue-arrow-up.svg"
                  alt=""
                />
                <img
                  *ngIf="item.upvotedBy.includes(user.user.id)"
                  src="../../assets/arrow-up.svg"
                  alt=""
                />
                {{ item.upvotes }}
              </button>
              <div class="comments">
                <img src="../../assets/comment.svg" alt="" />  
                  {{ item.commentCount }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <h3>Live ({{ live.length }})</h3>
      <p>Released features</p>

      <div
        cdkDropList
        [cdkDropListData]="live"
        (cdkDropListDropped)="drop($event)"
        id="live"
        class="item-list"
      >
        <div class="item-box live" *ngFor="let item of live" cdkDrag>
          <div>
            <p><span></span> {{ item.status }}</p>
            <h3 class="truncated-text">{{ item.title }}</h3>
            <p class="truncated-text">{{ item.description }}</p>

            <p class="category">
              {{
                item.category.length === 2
                  ? item.category.toUpperCase()
                  : item.category.charAt(0).toUpperCase() +
                    item.category.slice(1)
              }}
            </p>

            <div class="buttons">
              <button
                class="upvote"
                [ngClass]="{ upvoted: item.upvotedBy.includes(user.user.id) }"
                (click)="upvote(item)"
              >
                <img
                  *ngIf="!item.upvotedBy.includes(user.user.id)"
                  src="../../assets/blue-arrow-up.svg"
                  alt=""
                />
                <img
                  *ngIf="item.upvotedBy.includes(user.user.id)"
                  src="../../assets/arrow-up.svg"
                  alt=""
                />
                {{ item.upvotes }}
              </button>
              <div class="comments">
                <img src="../../assets/comment.svg" alt="" />{{item.commentCount }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mobile-content">
    <mat-tab-group class="custom-tab-group">

      
      <mat-tab
        [label]="'Planned (' + planned.length + ')'"
        labelClass="planned-tab"
      >
        <div class="column">
          <h3>Planned ({{ planned.length }})</h3>
          <p>Ideas prioritized for research</p>
          <div class="item-list">
            <div class="item-box planned" *ngFor="let item of planned" >
              <div>
                <p><span></span> {{ item.status }}</p>
                <h3 class="truncated-text">{{ item.title }}</h3>
                <p class="truncated-text">{{ item.description }}</p>

                <p class="category">
                  {{
                    item.category.length === 2
                      ? item.category.toUpperCase()
                      : item.category.charAt(0).toUpperCase() +
                        item.category.slice(1)
                  }}
                </p>

                <div class="buttons">
                  <button
                    class="upvote"
                    [ngClass]="{
                      upvoted: item.upvotedBy.includes(user.user.id)
                    }"
                    (click)="upvote(item)"
                  >
                    <img
                      *ngIf="!item.upvotedBy.includes(user.user.id)"
                      src="../../assets/blue-arrow-up.svg"
                      alt=""
                    />
                    <img
                      *ngIf="item.upvotedBy.includes(user.user.id)"
                      src="../../assets/arrow-up.svg"
                      alt=""
                    />
                    {{ item.upvotes }}
                  </button>
                  <div class="comments">
                    <img src="../../assets/comment.svg" alt="" />{{
                  item.commentCount
                    }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>


      <mat-tab
        [label]="'In-Progress (' + inProgress.length + ')'"
        labelClass="in-progress-tab"
      >
        <div class="column">
          <h3>In-Progress ({{ inProgress.length }})</h3>
          <p>Currently being developed</p>

          <div class="item-list">
            <div
              class="item-box in-progress"
              *ngFor="let item of inProgress"
              
            >
              <div>
                <p><span></span> {{ item.status }}</p>
                <h3 class="truncated-text">{{ item.title }}</h3>
                <p class="truncated-text">{{ item.description }}</p>

                <p class="category">
                  {{
                    item.category.length === 2
                      ? item.category.toUpperCase()
                      : item.category.charAt(0).toUpperCase() +
                        item.category.slice(1)
                  }}
                </p>

                <div class="buttons">
                  <button
                    class="upvote"
                    [ngClass]="{
                      upvoted: item.upvotedBy.includes(user.user.id)
                    }"
                    (click)="upvote(item)"
                  >
                    <img
                      *ngIf="!item.upvotedBy.includes(user.user.id)"
                      src="../../assets/blue-arrow-up.svg"
                      alt=""
                    />
                    <img
                      *ngIf="item.upvotedBy.includes(user.user.id)"
                      src="../../assets/arrow-up.svg"
                      alt=""
                    />
                    {{ item.upvotes }}
                  </button>
                  <div class="comments">
                    <img src="../../assets/comment.svg" alt="" />{{
                  item.commentCount
                    }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab [label]="'Live (' + live.length + ')'" labelClass="live-tab">
        <div class="column">
          <h3>Live ({{ live.length }})</h3>
          <p>Released features</p>

          <div class="item-list">
            <div class="item-box live" *ngFor="let item of live" >
              <div>
                <p><span></span> {{ item.status }}</p>
                <h3 class="truncated-text">{{ item.title }}</h3>
                <p class="truncated-text">{{ item.description }}</p>

                <p class="category">
                  {{
                    item.category.length === 2
                      ? item.category.toUpperCase()
                      : item.category.charAt(0).toUpperCase() +
                        item.category.slice(1)
                  }}
                </p>

                <div class="buttons">
                  <button
                    class="upvote"
                    [ngClass]="{
                      upvoted: item.upvotedBy.includes(user.user.id)
                    }"
                    (click)="upvote(item)"
                  >
                    <img
                      *ngIf="!item.upvotedBy.includes(user.user.id)"
                      src="../../assets/blue-arrow-up.svg"
                      alt=""
                    />
                    <img
                      *ngIf="item.upvotedBy.includes(user.user.id)"
                      src="../../assets/arrow-up.svg"
                      alt=""
                    />
                    {{ item.upvotes }}
                  </button>
                  <div class="comments">
                    <img src="../../assets/comment.svg" alt="" />{{
                    item.commentCount
                    }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</section>
<section class="error" *ngIf="error">
  <img src="../../../assets/no-feedback.svg" alt="" />
  <p>
    Error:

    {{ error }}
  </p>
  <button (click)="getFeedbacks()" [disabled]="loading | async">
    <mat-spinner *ngIf="loading | async; else elseBlock" [diameter]="20" />
    <ng-template #elseBlock> Try again </ng-template>
  </button>
</section>

<div
  *ngIf="loading | async"
  style="
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
  "
>
  <mat-spinner></mat-spinner>
</div>
