.container {
  display: flex;
  gap: 30px;
  min-height: 100vh;
  padding: 60px;
  width: 100%;
}
.sidebar {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.header {
  background-image: radial-gradient(
    166.82% 166.82% at 103.9% -10.39%,
    #e84d70 0%,
    #a337f6 53.09%,
    #28a7ed 100%
  );
  border-radius: 10px;
  padding: 70px 24px 24px;
  color: #fff;
}
.mobile-header {
  display: none;
}
.content {
  width: 75%;
}
.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  background-color: #fff;
  padding: 24px;
  border-radius: 10px;
}
.category {
  background-color: #f2f4ff;
  color: #4661e6;
  width: fit-content;
  padding: 6px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}
.category.active {
  background-color: #4661e6;
  color: #fff;
}
.category.active:hover {
  background-color: #4661e6;
}
.category:hover {
  background-color: #cfd7ff;
}
.roadmap {
  background-color: #fff;
  padding: 14px 24px;
  border-radius: 10px;
}
.fetch-error{
  width: 100vw;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

ul {
  list-style: none;
}
li {
  color: #647196;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
li span {
  display: block;
  font-weight: 700;
  margin-left: auto;
}
li::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  margin-right: 16px;
}
.planned::before {
  background-color: #f49f85;
}
.in-progress::before {
  background-color: #ad1fea;
}
.live::before {
  background-color: #62bcfa;
}
.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.title h3 {
  font-size: 18px;
  font-weight: 700px;
  color: #3a4374;
}
.title button {
  background-color: transparent;
  text-decoration: underline;
  border: none;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  color: #4661e6;
}

header {
  border-radius: 10px;
  background: #373f68;
  color: #fff;
  padding: 24px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sort {
  display: flex;
}
header > img {
  margin-right: 16px;
}
h2 {
  margin-right: 38px;
}
.feedback-link {
  margin-left: auto;
}
.feedback-btn {
  border-radius: 10px;
  background: #ad1fea;
  padding: 12.5px 25px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
}
.sort p {
  font-size: 14px;
}
.toggle {
  background-color: transparent;
  border: none;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  margin-left: 5px;
  cursor: pointer;
}
.select {
  display: flex;
  align-items: center;
  font-size: 14px;
}

mat-spinner {
  margin: 0 auto;
  margin-top: 100px;
}

.no-feedback {
  background-color: #fff;
  border-radius: 8px;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.no-feedback img {
  margin-bottom: 54px;
}
.no-feedback h1 {
  color: #3a4374;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}
.no-feedback p {
  color: #647196;
  margin-bottom: 48px;
  max-width: 450px;
  font-weight: 300;
}
.no-feedback button, .fetch-error button {
  border-radius: 10px;
  background: #ad1fea;
  color: #fff;
  padding: 12.5px 24px;
  font-size: 14px;
  font-weight: 700;
}

.logout button {
  background-color: transparent;
  display: flex;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}
.login button {
  background-color: transparent;
  display: flex;
  gap: 4px;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}

.icon {
  font-size: 16px;
  margin-top: 4px;
}

.select .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent;
}
.select .mat-mdc-select-value,
.select .mat-mdc-select-placeholder,
.select .mat-mdc-select-arrow {
  color: #fff;
}

.select
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple::before {
  border: none;
  background-color: transparent;
}

.select .mat-mdc-select-value,
.select .mat-mdc-select-placeholder,
.select .mat-mdc-select-arrow {
  width: 80%;
}

.mat-mdc-form-field-subscript-wrapper,
.mat-mdc-form-field-bottom-align::before {
  display: none;
}

@media (max-width: 1055px) {
  .container {
    padding: 60px 30px;
  }
}

@media (max-width: 997px) {
  .container {
    flex-direction: column;
  }
  .sidebar {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: start;
  }

  .content {
    width: 100%;
  }
  .categories,
  .roadmap,
  .header {
    flex: 1;
  }
}

@media (max-width: 780px) {
  .sidebar {
    display: none;
  }
  .container {
    padding: 0;
  }

  header {
    border-radius: 0;
    padding: 18px 24px;
    margin-top: 126px;
    position: fixed;
    width: 100%;
  }
  header h2 {
    font-size: 18px;
  }
  .feedback-btn {
    padding: 10.5px 16px;
  }

  .feedback-list,
  .no-feedback {
    padding: 24px;
    margin-top: 220px;
  }

  .mobile-header {
    background-image: radial-gradient(
      166.82% 166.82% at 103.9% -10.39%,
      #e84d70 0%,
      #a337f6 53.09%,
      #28a7ed 100%
    );
    padding: 24px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  .container {
    gap: 0;
  }
  .sidenav-container {
    height: 100vh;
  }

  .mat-drawer-transition .mat-drawer-backdrop {
    position: absolute;
    top: 126px;
  }

  .mat-drawer.mat-drawer-end {
    border-radius: 0 !important;
  }
  .mat-drawer-inner-container {
    background-color: #f2f2f2;
    padding: 20px;
  }
  .categories {
    margin-bottom: 24px;
  }
  .mat-mdc-form-field-infix {
    width: 145px !important;
  }
}

@media (max-width: 619px) {
  header > img,
  header > h2 {
    display: none;
  }
  .mat-mdc-select-value-text {
    font-weight: bold;
  }
  .mat-mdc-select-value-text {
    font-weight: bold;
    font-size: 13px;
  }
}

@media (max-width: 420px) {
  header {
    padding: 18px 24px;
  }
  .feedback-btn,
  .select > p {
    font-size: 13px;
  }
  .select > p {
    margin-right: 2.5px;
  }
  .mdc-text-field {
    padding: 0 !important;
  }

}
