<div *ngIf="feedbackData" class="container">
  <div class="sidebar">
    <div class="header">
      <h3>Feedback Board</h3>

      <div *ngIf="!user.token" class="login">
        <button routerLink="/auth">
          Login
          <mat-icon
            aria-hidden="false"
            fontIcon="login"
            class="icon"
          ></mat-icon>
        </button>
      </div>

      <div *ngIf="user.token" class="logout">
        <p style="font-weight: 500; text-transform: capitalize">
          Hello {{ user.user.firstname }}
        </p>

        <button (click)="logout()">
          Log out
          <mat-icon
            class="icon"
            aria-hidden="false"
            fontIcon="logout"
          ></mat-icon>
        </button>
      </div>
    </div>
    <div class="categories">
      <button
        [ngClass]="{ active: category === selectedCategory }"
        *ngFor="let category of categories; index as i"
        class="category"
        (click)="sortByCategory(category)"
      >
        {{ category }}
      </button>
    </div>

    <div class="roadmap">
      <div class="title">
        <h3>Roadmap</h3>
        <a routerLink="/roadmap">
          <button>View</button>
        </a>
      </div>
      <ul>
        <li class="planned">
          Planned <span>{{ statusCounts.planned }}</span>
        </li>
        <li class="in-progress">
          In-Progress <span>{{ statusCounts["in-progress"] }}</span>
        </li>
        <li class="live">
          Live <span>{{ statusCounts.live }}</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="content">
    <header>
      <img src="../../../assets/bulb.svg" />

      <h2>{{ feedbackData.count }} Suggestions</h2>

      <div class="select">
        <p>Sort By :</p>
        <mat-form-field>
          <mat-select
            placeholder="Most Upvotes"
            [(ngModel)]="selectedSortOption"
            (selectionChange)="sortFeedback(selectedSortOption)"
          >
            <mat-option value="most-upvotes">Most Upvotes</mat-option>
            <mat-option value="least-upvotes">Least Upvotes</mat-option>
            <mat-option value="most-comments">Most Comments</mat-option>
            <mat-option value="least-comments">Least Comments</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <button routerLink="/add-feedback" class="feedback-btn feedback-link">
        + Add Feedback
      </button>
    </header>

    <div *ngIf="filteredFeedbacks.length; else elseBlock" class="feedback-list">
      <app-feedback-card
        *ngFor="let feedback of filteredFeedbacks; index as i"
        [feedback]="feedback"
        [cursorStyle]="'pointer'"
        [routerLink]="['details', feedback.id]"
      ></app-feedback-card>
    </div>
    <ng-template #elseBlock>
      <div class="no-feedback">
        <div>
          <img src="../../../assets/no-feedback.svg" alt="" />
          <h1>There is no feedback yet.</h1>
          <p>
            Got a suggestion? Found a bug that needs to be squashed? We love
            hearing about new ideas to improve our app.
          </p>
          <button>+ Add Feedback</button>
        </div>
      </div>
    </ng-template>
  </div>
</div>
<mat-spinner *ngIf="loading | async"></mat-spinner>
