html,
body {
  background-color: #f2f2f2;
}
body {
  margin: 0;
  font-family: "Jost", sans-serif;
  overscroll-behavior: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  cursor: pointer;
  border: none;
  outline: none;
  font-family: "Jost", sans-serif;
}
button:disabled {
  cursor: not-allowed;
}
div.mat-mdc-select-panel {
  background-color: #fff !important;
}
.error {
  color: #ff0000;
}

.mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs
  > .mat-mdc-tab-header
  .mat-mdc-tab {
  height: 60px;
}
.add-select .mat-mdc-select-value {
  color: #3a4374;
}
.add-select .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background: #f7f8fd;
}

.mat-tab-label {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.planned-tab .mat-tab-label {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}




