html,
body {
  height: 100%;
  background-color: #f2f2f2;
}
body {
  margin: 0;
  font-family: "Jost", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  cursor: pointer;
  border: none;
  outline: none;
  font-family: "Jost", sans-serif;
}

.select .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent;
}
.select .mat-mdc-select-value,
.select .mat-mdc-select-placeholder,
.select .mat-mdc-select-arrow {
  color: #fff;
}

.select
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple::before {
  border: none;

  background-color: transparent;
}

.mat-mdc-form-field-infix {
  width: 145px !important;
}

.mat-mdc-form-field-subscript-wrapper,
.mat-mdc-form-field-bottom-align::before {
  display: none;
}
div.mat-mdc-select-panel {
  background-color: #fff !important;
}

.error {
  color: #ff0000;
}

.mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs
  > .mat-mdc-tab-header
  .mat-mdc-tab {
  height: 60px;
}
